{% extends '@page-layout' %}

{% block main %}
<section bg-default="" class="section-lg">
 <div class="container">
  <div class="row row-50">
   <div class="col-md-12">
    <h5>
     Virtuelle Präsentationen bei Videokonferenzen stellen Sie vor neue Herausforderungen. Lernen Sie, wie Sie in Online-Präsentationen Ihr Publikum begeistern!
    </h5>
    <p>
    </p>
    <p>
     <strong>
      Sie lernen ...
     </strong>
    </p>
    <ul>
     <li>
      wie Sie optimal in Videokonferenzen auftreten und sich bestmöglich präsentieren
     </li>
     <li>
      worauf Sie bei Online-Präsentationen achten müssen und wie Online-Präsentationen spannend werden
     </li>
     <li>
      wie Sie eine Verbindung zum Publikum herstellen
     </li>
     <li>
      was Sie beim Blickkontakt beachten müssen
     </li>
     <li>
      was Sie beim Ton und bei der Kamera beachten sollten
     </li>
     <li>
      worauf Sie bei Kleidung, Technik und Umgebung achten müssen
     </li>
     <li>
      wie Sie bestmöglich PowerPoint verwenden
     </li>
     <li>
      worauf es beim Zeitmanagement ankommt
     </li>
     <li>
      wie Sie in kleineren Teams in Workshops online arbeiten können
     </li>
     <li>
      wie Sie mit Problemen beim Präsentieren und Auftreten in Videokonferenzen umgehen
     </li>
     <li>
      welche Tools Sie bei Online-Meetings einsetzen können, z.B. Microsoft Teams, Google Hangouts, Adobe Connect, Zoom, Skype for Business oder Jitsi
     </li>
    </ul>
    <p>
    </p>
    <p>
     <strong>
      Die Methode...
     </strong>
    </p>
    <ul>
     <li>
      Online-Training
     </li>
     <li>
      Praxisworkshop mit individuellem Feedback
     </li>
     <li>
      Interaktives Erarbeiten der Inhalte
     </li>
     <li>
      Theorie-Inputs
     </li>
     <li>
      Übung und Beispiele
     </li>
    </ul>
    <p>
    </p>
    <div class="row">
     <div class="col-md-6">
      <h5>
       Details des Online Trainings
      </h5>
      <ul class="list-xs">
       <li>
        <dl class="list-terms-minimal">
         <dt>
          <b>
           Start
          </b>
         </dt>
         <dd>
          <time datetime="2022">
           <br>
           Dienstag, 22. März 2022 @ 08:30 Uhr
          </time>
         </dd>
        </dl>
       </li>
       <li>
        <dl class="list-terms-minimal">
         <dt>
          <b>
           Ende
          </b>
         </dt>
         <dd>
          <time datetime="2022">
           <br>
           Dienstag, 22. März 2022 @ 12:30 Uhr
          </time>
         </dd>
        </dl>
       </li>
       <li>
        <dl class="list-terms-minimal">
         <dt>
          <b>
           Preis
          </b>
         </dt>
         <dd>
          <br>
          CHF 400.- pro Person
         </dd>
        </dl>
       </li>
       <li>
        <dl class="list-terms-minimal">
         <dt>
          <b>
           Ort
          </b>
         </dt>
         <dd>
          <br>
          Online mit Zoom.us
         </dd>
        </dl>
       </li>
      </ul>
      <div class="row justify-content-sm-center">
       <div class="col-md-6">
        <div class="group">
         <a class="button button-black" href="https://www.presentation-power.ch/angebot/online-praesentationstraining_einzelpersonen/anmeldung/">
          Jetzt Anmelden
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<section class="bg-accent section-lg">
 <div class="container">
  <div class="row">
   <div class="col-md-4">
    <h3>
     Möchten Sie ein Online-Einzeltraining?
    </h3>
   </div>
   <div class="col-md-8">
    <a class="button button-gray-light-outline" href="https://www.presentation-power.ch/angebot/online-praesentationscoaching/">
     Online-Präsentationscoaching
    </a>
   </div>
  </div>
 </div>
</section>
{% endblock %}