<!doctype html>
<html class="wide wow-animation rd-navbar-static-linked" lang="de">
  <head>
    <!-- Site Title-->
    <title>Online-Kurs (öffentlich) — Presentation Power</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
    <!-- Stylesheets-->
    <link rel="stylesheet" media="screen" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" media="screen" href="{{ '/dist/css/bootstrap.min.css' | path }}">
    <link rel="stylesheet" media="screen" href="{{ '/dist/css/style.min.css' | path }}">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108459957-1');
    </script></head>
  
  <body class=" rd-navbar-corporate-linked"><div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-floating cc-type-info cc-theme-block cc-bottom cc-left cc-color-override-1122976452  cc-invisible" style="display: none;"><!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">Durch die Nutzung der Webseite stimmen Sie der Verwendung von Cookies zu. <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="https://www.presentation-power.ch/datenschutz/" rel="noopener noreferrer nofollow" target="_blank">Datenschutzerklärung.</a></span><div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">OK</a></div><!--googleon: all--></div>
    <!-- Page -->
    <div class="page">
      <div id="page-loader" style="display: none;">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap" style="height: 232.05px;">
          <nav class="rd-navbar rd-navbar_corporate rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-md-stick-up-offset="60px" data-lg-stick-up-offset="145px" data-xl-stick-up-offset="145px" data-xxl-stick-up-offset="145px" data-body-class="rd-navbar-corporate-linked">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
              <!-- RD Navbar Brand-->
              <div class="rd-navbar-brand rd-navbar-static--hidden">
                {% render '@logo' %}
              </div>
            </div>
            <!-- RD Navbar Top Panel-->
            <div class="rd-navbar-top-panel rd-navbar-top-panel_extended">
              <div class="rd-navbar-top-panel__main toggle-original-elements">
                <div class="rd-navbar-top-panel__toggle rd-navbar-fixed__element-1 rd-navbar-static--hidden toggle-original" data-rd-navbar-toggle=".rd-navbar-top-panel__main"><span></span></div>
                <div class="rd-navbar-top-panel__content">
                  <div class="rd-navbar-top-panel__content-top">
                    <div class="rd-navbar-top-panel__left">
                      <p>Presentation Power - Überzeugend auftreten und präsentieren</p>
                    </div>
                    <div class="rd-navbar-top-panel__right">
                      <ul class="rd-navbar-items-list">
                        <li>
                          <ul class="list-inline-xxs">
                            <li><a class="icon icon-xxs icon-primary fa fa-linkedin" href="https://www.linkedin.com/in/presentation-power-schneider" target="_blank"></a></li>
                            <li><a class="icon icon-xxs icon-primary fa fa-google" href="https://goo.gl/maps/cxFQqhcfABri6kEq7" target="_blank"></a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="rd-navbar-top-panel__content-bottom rd-navbar-content_middle rd-navbar-content_justify">
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand rd-navbar-fixed--hidden">
                      {% render '@logo' %}
                    </div>
                    <ul class="list-bordered">
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-sm">
                          <div class="unit-left"><span class="icon icon-md icon-primary linear-icon-map-marker"></span></div>
                          <div class="unit-body">
                            <dl class="list-terms-modern">
                              <dt>Ort der Weiterbildung</dt>
                              <dd>
                                  <li>Seminarraum in Zürich (Kreis 6)</li>
                                  <li>Inhouse in der Schweiz + international</li>
                                  <li>Online</li>
                               </dd>
                            </dl>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-sm">
                          <div class="unit-left"><span class="icon icon-md icon-primary linear-icon-telephone"></span></div>
                          <div class="unit-body">
                            <dl class="list-terms-modern">
                              <dt>Telefon</dt>
                              <dd>
                                <ul class="list-semicolon">
                                  <li><a href="tel:+41432438988">+41 43 243 89 88</a></li>
                                </ul>
                              </dd>
                            </dl>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-sm">
                          <div class="unit-left"><span class="icon icon-md icon-primary linear-icon-clock3"></span></div>
                          <div class="unit-body">
                            <dl class="list-terms-modern">
                              <dt>Sie erreichen mich</dt>
                              <dd>Mo-Fr: 09.00-17.00</dd>
                            </dl>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
          </nav>
        </div>
      </header>

      

<section class="breadcrumbs-custom">
        <div class="container">
          <div class="breadcrumbs-custom__inner">
		  <h1 class="breadcrumbs-custom__title">Online-Kurs (öffentlich)</h1>
            
          </div>
        </div>
      </section>
      <section class="text-center">
        <!-- RD Parallax-->
        <div class="parallax-container bg-image parallax-header rd-parallax-light" data-parallax-img="{{ '/dist/img/parallax.jpg' | path }}"><div class="material-parallax parallax"><img src="{{ '/dist/img/parallax.jpg' | path }}" alt="" style="display: block; transform: translate3d(-50%, 9px, 0px);"></div>
          <div class="parallax-content">
            <div class="parallax-header__inner">
              <div class="parallax-header__content">
                <div class="container">
                  <div class="row justify-content-sm-center">
                    <div class="col-md-10 col-xl-8">
                      <h2>Dos and Don'ts beim Auftreten in Videokonferenzen und Online-Präsentationen - Dienstag, 22.03.2022</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script type="application/ld+json">
 {
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "Training für Online-Präsentationen",
  "description": "Virtuelle Präsentationen in Videokonferenzen stellen Sie vor neue Herausforderungen. Lernen Sie in diesem Online-Training, wie Sie in Online-Präsentationen Ihr Pubikum begeistern!",
  "image": "https://www.presentation-power.ch/angebot/webinar.jpg",
  "startDate": "2022-03-22T07:30",
  "endDate": "2022-03-22T11:30",
  "performer": {
    "@type": "Person",
    "name": "Anne-Christiane Schneider"
  },
  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
  "location": {
    "@type": "VirtualLocation",
    "url": ""
  },
  "offers": {
    "@type": "Offer",
    "name": "Kosten",
    "price": "400",
    "priceCurrency": "CHF",
    "validFrom": "2021-09-08",
    "url": "",
    "availability": "https://schema.org/InStock"
  }
}
</script>

       {{ yield | safe }}
      
      <!-- Page Footer-->
      <section class="pre-footer-corporate">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-10 col-md-8 col-lg-12 col-xl-4">
              <h6>Über Anne-Christiane Schneider</h6>
              <p>Anne-Christiane Schneider schafft es, auf eine positive und hartnäckige Weise ungeahnte Präsentationsfähigkeiten aus ihren Coachees herauszuholen. Durch ihr Studium an einer Schauspielhochschule hat sie ein äusserst geschultes Auge, was beim Auftreten und Präsentieren verbessert werden muss. Die Freude verschiedenen Menschen aus verschiedenen Branchen zu coachen, merkt man ihrer Arbeit deutlich an.</p>
            </div>
            
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-4">
              <h6>Tipps und Tricks</h6>
              <ul class="list-xs">
                  
                  <li>
                      <!-- Comment minimal-->
                      <article class="comment-minimal">
                        <p class="comment-minimal__link"><a href="https://www.presentation-power.ch/tipps/praesentations-rezept/">Grund-Rezept für überzeugendes Präsentieren!</a></p>
                      </article>
                    </li>
                
                  <li>
                      <!-- Comment minimal-->
                      <article class="comment-minimal">
                        <p class="comment-minimal__link"><a href="https://www.presentation-power.ch/tipps/angela_merkel_und_die_kraft_der_emotionen/">Angela Merkel und die Kraft der Emotionen</a></p>
                      </article>
                    </li>
                
                  <li>
                      <!-- Comment minimal-->
                      <article class="comment-minimal">
                        <p class="comment-minimal__link"><a href="https://www.presentation-power.ch/tipps/erfolgreiches-auftreten/">Erfolgreiches Auftreten</a></p>
                      </article>
                    </li>
                
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-4">
              <h6>Kontakt</h6>
              <ul class="list-xs">
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Telefon</dt>
                    <dd>
                      <ul class="list-semicolon">
                        <li><a href="tel:+41762407306">+41 (0)76 240 73 06 </a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>E-Mail</dt>
                    <dd><a href="mailto:web@presentation-power.ch">web@presentation-power.ch</a></dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Erreichbar</dt>
                    <dd>Mo-Fr: 9.00 - 17.00 Uhr</dd>
                  </dl>
                </li>
                <li>
                  <a href="/impressum">Impressum</a>
                 </li>
                 <li>
                   <a href="/datenschutz">Datenschutz</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer-corporate">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights"><span>© PRESENTATION POWER Schneider</span><span>&nbsp;</span><span id="copyright-year">2021</span>.
              <!-- FOOTER_LINK-->
            </p>
            <ul class="list-inline-xxs">
              <li><a class="icon icon-xxs icon-primary fa fa-linkedin" href="https://www.linkedin.com/in/presentation-power-schneider" target="_blank"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-google" href="https://goo.gl/maps/cxFQqhcfABri6kEq7" target="_blank"></a></li>
            </ul>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{{ '/dist/js/core.min.js' | path }}"></script>
    <script src="{{ '/dist/js/script.min.js' | path }}"></script>
<a href="#" id="ui-to-top" class="ui-to-top"></a></body></html>